{% extends 'base.html' %}

{% block content %}
    <h1>Emergency Information</h1>

    <h2>Earthquakes</h2>
        <P>During an earthquake it is advices to DROP to the ground; take COVER by getting under a sturdy table or other piece of furniture; and HOLD ON until the shaking stops. If there isn’t a table or desk near you, cover your face and head with your arms and crouch in an inside corner of the building.
            We advise further reading before an earthquake, for more information on what to do during an earthquake, please click on the link provided:
            </P> <a target="_blank" href="https://www.ses.vic.gov.au/get-ready/quakesafe/what-to-do-in-an-earthquake" >Earthquakes safety information </a>

        <h2>Tsunami</h2>
        <P>When the shaking stops, if there are natural signs or official warnings of a tsunami, then move immediately to a safe place as high and as far inland as possible. Listen to the authorities, but do not wait for tsunami warnings and evacuation orders.</P>
        <a target="_blank" href="https://www.ready.gov/tsunamis" >Tsunami safety information </a>

        <h2>Volcanic eruptions </h2>
        <ul>
            <li>Listen for emergency information and alerts.</li>
            <li>Follow evacuation or shelter orders. If advised to evacuate, then do so early.</li>
            <li>Avoid areas downstream of the eruption.
            <li>Protect yourself from falling ash.</li>
            <li>Do not drive in heavy ash fall.</li>
          </ul>
          <P>For further reading we have provided a link below:</P>
          <a target="_blank" href="https://www.ready.gov/volcanoes" >Volcanic eruptions information </a>

        <h2>Pandemic </h2>
        <ul>
            <li>Avoid close contact with people who are sick.</li>
            <li>When you are sick, keep your distance from others to protect them from getting sick too.</li>
            <li>Cover your mouth and nose with a tissue when coughing or sneezing. It may prevent those around you from getting sick.</li>
            <li>Washing your hands often will help protect you from germs.</li>
            <li>Avoid touching your eyes, nose or mouth.</li>
            <li>Practice other good health habits. Get plenty of sleep, be physically active, manage your stress, drink plenty of fluids, and eat nutritious food.</li>
        </ul>
        <P>For further information please click on the link below: </P>
        <a target="_blank" href="https://www.ready.gov/pandemic" >Pandemic information </a>

        <h2>Flood </h2>
        <P>Depending on where you are, and the impact and the warning time of flooding, go to the safe location that you previously identified.
                If told to evacuate, do so immediately. Never drive around barricades. Local responders use them to safely direct traffic out of flooded areas.
                Listen to EAS, NOAA Weather Radio, or local alerting systems for current emergency information and instructions.
                Do not walk, swim, or drive through flood waters. Turn Around. Don’t Drown!
                Stay off bridges over fast-moving water. Fast-moving water can wash bridges away without warning.
                If your vehicle is trapped in rapidly moving water, then stay inside. If water is rising inside the vehicle, then seek refuge on the roof.
                If trapped in a building, then go to its highest level. Do not climb into a closed attic. You may become trapped by rising floodwater. Go on the roof only if necessary. Once there, signal for help.
                For further reading, a link has been provided:
                </P>
                <a target="_blank" href="https://www.ready.gov/floods" >Flood information </a>

        <h2>Storm</h2>
        <ul>
            <li>Stay indoors and away from windows.</li>
            <li>If outdoors, shelter away from drains, gutters, creeks and waterways.</li>
            <li>Be prepared for power outages.</li>
            <li>Floodwater is dangerous – never drive, walk or ride through floodwater.</li>
            <li>Floodwater is toxic – never play or swim in floodwater.</li>
        </ul>
        <P>For further reading, a link has been provided:</P>
        <a target="_blank" href="https://www.ses.vic.gov.au/get-ready/stormsafe/what-do-do-in-a-storm" >Storm information </a>

        <h2>Fire</h2>
        <P>On discovering a fire, raise the alarm by shouting FIRE! (to alert anyone in the immediate vicinity) and then activate the nearest push-glass fire alarm call-point (small red box, close to major exits).
                If safe to do so, use an appropriate fire extinguisher to tackle the fire, but only if your exit is clear.
                Leave the building by the nearest exit.
                Call the Fire & Rescue Service on 999 and state location as the Department of Engineering, University of Cambridge, Trumpington Street, Cambridge.
                Report location of fire (room number) to the Fire Safety Manager attending the Fire System Panel in the Reception Foyer or to the Fire Marshal at your Assembly Point.
                If the site requires evacuation for any other reason (e.g. bomb threat), the Head of Department, Departmental Secretary or Departmental Safety Officer will authorise the activation of the alarm via a fire panel.
                </P>
                <a target="_blank" href="https://safety.eng.cam.ac.uk/procedures/Emergency/FireEmergency" >Fire information </a>
{% endblock content %}