{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h1>Welcome to <span class="logo">localé</span></h1>
        <a class="sapphire-btn" href="{% url 'event_new' %}">Add event</a>
    </div>
    <section class="events-list">
    {% for event in object_list %}
    <div class="card">
        <div class="card-body">
            <h2><a href="{% url 'event_detail' event.pk %}">{{ event.title }}</a></h2>
            <p>{{ event.description }}</p>
        </div>
    </div>    
    
    {% endfor %}
    </section>

    <h3>Total price:</h3>
    <ul>
        {% for event in object_list %}
            <li>{{ event.price }}</li>
        {% endfor %}
    </ul>
        
    <a href="#" class="sapphire-btn">Secure checkout</a>

{% endblock content %}